<center><h1> List of Ideas created by people like you!</h1></center>
<% @ideas.each do |idea|%>
  <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= idea.name  %> - <a href="/idea/<%= idea.id%>">show </a> | <a href="/idea/<%= idea.id%>/edit"> edit </a> | <a href="idea/<%= idea.id%>/destroy">destroy</a>
        </div>
      </div>
    </div>
  </div>
<% end %>