<h1> Enter your own ideas!</h1>

<form action = "/create">
  <h3> Idea name </h3>
  <input type="text" name = "name" placeholder = "name">
  <h3> A little description about your idea </h3>
  <input type="text" name = "description" placeholder = "description">
  <h3> Who should take credit for this idea? </h3>
  <input type="text" name = "creator" placeholder = "1creator">
  <p></p>
  <input type="submit">
</form>