
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%=@thought.name%> 
          <small>
            <a href="/thoughts/<%=@thought.id%>/edit">Edit</a> |
            <a href="/thoughts/<%=@thought.id%>/destroy">Destroy</a> 
          </small></h1>
        <div>
          
        </div>
        <div>
          <a href="/thoughts">Back to list of ideas</a> | 
          <a href="/new_thought">Create a new idea</a>
        </div>
      </div>
    </div>
  </div>
  
